.m_t_50 {
    margin-top: 50px !important;
}
.status_ok {
    background: #00C853;
}
.status_warning {
    background: #C62828;
 }
.important_icon {
    color: #C62828;
}
.collapsible-body {
    overflow: hidden;
}